{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos</title>
    <link rel="stylesheet" href="{% static 'css/blog_estilo.css' %}">
</head>
<body>
    <div id=central>
        <div class="borda">
            <div id="logo">
                <p><img src="{% static 'img/logo.jpg' %}"></p>
            </div>
        <div class="cabecalho">
            <h1> Cursos APBA </h1>
        </div>

        <div id="aula" >
            <table>
                <tr id="semana">
                    <td>Segunda-feira</td>
                    <td>Terça-feira</td>
                    <td>Quarta-feira</td>
                    <td>Quinta-feira</td>
                    
                </tr>
                <tr>
                    <td>Fábio Haibara <br> 9:00 às 12:00 hs <br> 14:00 às 17:00hs <br> Desenho e Pintura - Nat. Morta</td>
                    <td>José Carlos Acerbi <br> 14:00 às 17:00 e 17:30  hs. <br> Desenho e Pintura à óleo <br>Aquarela <br>Todos os gêneros e temas</td>
                    <td>Mario jardim <br> Terceira Idade <br>13:00 às 15:00 hs. <br> Desenho e Pintura</td>
                    <td>Modelo Vivo <br>14:30 às 16:30 hs. <br>Orientador: Ricardo Machado</td>
                </tr>
                <tr>
                    <td>José Carlos Acerbi  <br> 14:00 às 17:00 hs <br> Desenho e Pintura <br> Todos os temas</td>
                    <td>Carmélio Gentil <br>13:00 às 16:00 hs. <br> Desenho Pintura (OST) <br> Aquarela</td>
                </tr>
            </table>
        </div>
    </div>
    
 
</body>
</html>