{% load static %}
{% load widget_tweaks %}
{% load bootstrap %}

<!Doctype html>
<html lang="pt-br">
  
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Cadastro</title>
        <link rel="stylesheet" href="{% static 'css/form_estilo.css' %}">
    </head>

    <body>
        <div class="borda">
            <h1 id="titulo">Cadastro APBA</h1>
            <div id="btn-container">
                <button name="increase-font" id="increase-font" title="Aumentar fonte">A +</button>
                <button name="decrease-font" id="decrease-font" title="Diminuir fonte">A -</button>
            </div>

        <form action=" " method="post">
            {% csrf_token %}
            {{ form|bootstrap }}
            <div>
            <a href="{% url 'post_list' %}" rel="prev">Voltar</a>

            <button class="botao" type="submit" onsubmit="">Enviar</button>
            </div>

        </form>

        <script src="{% static 'js/jquery-3.6.0.min.js' %}"> </script>
        <script src="{% static 'js/jquery.mask.min.js' %}"></script>
        <script src="{% static 'js/mascara.js' %}"></script>
        <script src="{% static 'js/fonte.js' %}"></script>
        </div>
    </body>

</html>
