{% load static %}
<!Doctype html>
<html lang="pt-br">
  
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Cadastro</title>
        <link rel="stylesheet" href="{% static 'css/form_estilo.css' %}">
    </head>

    <body>
        
        <div>
            <h1 id="titulo">Cadastro APBA</h1>
            <br>
        </div>

        <form>

            <div class="campos">

                    <label for="nassoc"><strong>Número Associado</strong></label>
                    <input type="text" name="nassoc" id="nassoc" required>
             </div>

            <div class="campo">
                    <label for="nome"><strong>Nome Completo</strong></label>
                    <input type="text" name="nome" id="nome" required>
            </div>


            <fieldset class="grupo">
                <div class="campo">
                    <label for="fone"><strong>Telefone</strong></label>
                    <input type="tel" name="fone" id="fone" required>
                </div>
                <div class="campo">
                    <label for="cel"><strong>Celular</strong></label>
                    <input type="tel" name="cel" id="cel" required>
                </div>

            </fieldset>

                <div class="campo">
                        <label for="email"><strong>Email</strong></label>
                        <input type="email" name="email" id="email" required>
                </div>

            <a href="{% url 'post_list' %}" rel="prev">Voltar</a>
            <button class="botao" type="submit" onsubmit="">Enviar</button>

        </form>

    
       
    </body>

</html>
