{% load static %}
<!Doctype html>
<html lang="pt-br">
  
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Cadastro</title>
        <link rel="stylesheet" href="{% static 'css/form_estilo.css' %}">
    </head>

    <body>
        
        <div>
            <h1 id="titulo">Cadastro APBA</h1>
            <br>
        </div>

        <form>

            <fieldset class="grupo">
                <div class="campos">
                    <label>
                        <input type="radio" name="apba" value="associado" checked>Associado
                    </label>
                    <label>
                        <input type="radio" name="apba" value="nãoassociado">Não Associado
                    </label>
                    <label for="nassoc"><strong>Número Associado</strong></label>
                    <input type="text" name="nassoc" id="nassoc" required>
                </div>

            </fieldset>

                <div class="campo">
                    <label for="nome"><strong>Nome Completo</strong></label>
                    <input type="text" name="nome" id="nome" required>
                </div>

                <div class="campo">
                    <label for="nomemae"><strong>Nome da mãe</strong></label>
                    <input type="text" name="nomemae" id="nomemae" required>
                </div>

                <div class="campo">
                    <label for="nomepai"><strong>Nome do pai</strong></label>
                    <input type="text" name="nomepai" id="nomepai" required>
                </div>


            <fieldset class="grupo">
                <div class="campo">
                    <label for="datanasc"><strong>Data de Nascimento</strong></label>
                    <input type="date" name="datanasc" id="datanasc" required>
                </div>

                <div class="campo">
                    <label for="locnasc"><strong>Nacionalidade</strong></label>
                    <input type="text" name="locnasc" id="locnasc" required>
                </div>

                <div class="campo">
                    <label for="natural"><strong>Natural de:</strong></label>
                    <input type="text" name="natural" id="natural" required>
                </div>

            </fieldset>

            <fieldset class="grupo">
                <div class="campo">
                    <label for="estciv"><strong>Estado Civil</strong></label>
                    <input type="text" name="estciv" id="estciv" required>
                </div>

                <div class="campo">
                    <label for="conjuge"><strong>Nome do Cõnjuge</strong></label>
                    <input type="text" name="conjuge" id="conjuge" required>
                </div>

            </fieldset>
            <fieldset class="grupo">
                <div class="campo">
                    <label for="rg"><strong>RG</strong></label>
                    <input type="text" name="rg" id="rg" required>
                </div>

                <div class="campo">
                    <label for="cpf"><strong>CPF</strong></label>
                    <input type="text" name="cpf" id="cpf" required>
                </div>

            </fieldset>

            <fieldset class="grupo">
                <div class="campos">
                    <labe><strong>É naturalizado?</strong></label>
                    <label>
                        <input type="radio" name="estrang" value="sim" checked>Sim
                    </label>
                    <label>
                        <input type="radio" name="estrang" value="não">Não
                    </label>

                    <label for="nestr"><strong>N. do Documento</strong></label>
                    <input type="text" name="nestr" id="nestr" required>
                </div>
            </fieldset>

            <fieldset class="grupo">
                <p><strong>Endereço</strong></p>
                <div class="campo">
                    <label for="endereco"><strong>Rua</strong></label>
                    <input type="text" name="endereco" id="endereco" required>
                </div>

                <div class="campo">
                    <label for="numero"><strong>numero</strong></label>
                    <input type="text" name="numero" id="numero" required>
                </div>

            </fieldset>
            <fieldset class="grupo">
                <div class="campo">
                    <label for="complem"><strong>complemento</strong></label>
                    <input type="text" name="complem" id="complem" required>
                </div>
                <div class="campo">
                    <label for="bairro"><strong>Bairro</strong></label>
                    <input type="text" name="bairro" id="bairro" required>
                </div>
            </fieldset>


            <fieldset class="grupo">
                <div class="campo">
                    <label for="cep"><strong>CEP</strong></label>
                    <input type="text" name="cep" id="cep" required>
                </div>
                <div class="campo">
                    <label for="cidade"><strong>Cidade</strong></label>
                    <input type="text" name="cidade" id="cidade" required>
                </div>
                <div class="campo">
                    <label for="estado"><strong>Estado</strong></label>
                    <input type="text" name="estado" id="estado" required>
                </div>
            </fieldset>

            <fieldset class="grupo">
                <div class="campo">
                    <label for="fone"><strong>Telefone</strong></label>
                    <input type="tel" name="fone" id="fone" required>
                </div>
                <div class="campo">
                    <label for="cel"><strong>Celular</strong></label>
                    <input type="tel" name="cel" id="cel" required>
                </div>
                <div class="campo">
                    <label for="email"><strong>Email</strong></label>
                    <input type="email" name="email" id="email" required>
                </div>
            </fieldset>

            <fieldset class="grupo">
                <p><strong>Cursos</strong></p>
                <div class="campo">
                    <label for="grau"><strong>Grau de Instrução</strong></label>
                    <input type="text" name="grau" id="grau" required>
                </div>
                <div class="campo">
                    <label for="prof"><strong>Profissão</strong></label>
                    <input type="text" name="prof" id="prof" required>
                </div>
            </fieldset>

            <p><strong>Onde estudou arte?</strong></p>
                <div class="campo">
                    <label for="escola"><strong>Escola</strong></label>
                    <input type="text" name="escola" id="escola" required>
                </div>
                <div class="campo">
                    <label for="curse"><strong>Curso</strong></label>
                    <input type="text" name="curse" id="curse" required>
                </div>
                <div class="campo">
                    <label for="profes"><strong>Particular? Qual o nome do Professor?</strong></label>
                    <input type="text" name="profes" id="profes" required>
                </div>

            <fieldset class="grupo">
                <div class="campos">
                    <label for="didata"><strong>Ou é autodidata?</strong></label>

                    <label>
                        <input type="radio" name="estrang" value="sim" checked>Sim
                    </label>
                    <label>
                        <input type="radio" name="estrang" value="não">Não
                    </label>
                </div>
            </fieldset>

            <p><strong>Participou de Exposições?</strong></p>
                <div class="campo">
                    <label for="coletiva"><strong>Coletivas</strong></label>
                    <input type="text" name="coletiva" id="coletiva" required>
                </div>
                <div class="campo">
                    <label for="indiv"><strong>Individuais</strong></label>
                    <input type="text" name="indiv" id="indiv" required>
                </div>
                <div class="campo">
                    <label for="premio"><strong>Premiações</strong></label>
                    <input type="text" name="premio" id="premio" required>
                </div>

            <button class="botao" type="submit" onsubmit="">Enviar</button>

        </form>

    
       
    </body>

</html>
