{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>APBA</title>
        <link rel="stylesheet"  href="{% static 'css/blog_estilo.css' %}">
    </head>
    <body>
        <div id="borda">
            <div id="logo">
                <p><img src="{% static 'img/logo.jpg' %}"></p>
            </div>
            
            <div id="cabecalho">
                <br>
                <br>
                <h1>A.P.B.A</h1>
                <p>Associação Paulista de Belas Artes</p>
            </div>
            
            <div id="menu">
                <table>
                    <tr>
                        <th><a href="blog/formulario.html" target="_blank">Cadastro</a></th>
                    </tr>
            
                    <tr>
                        <th><a href="{% static 'img/grade.jpg' %}" target="_blank"> Cursos</a></th>
                    </tr>
            
                    <tr>
                        <th><a href="{% static 'img/eventos.jpg' %}" target="_blank">Eventos</a></th>
                    </tr>

                </table>
            </div>
            
            <div id="principal">
                <br>
                <br>
                <p id="texto">Desde 1942</p>
                <br>
                <p id="texto">Levando Arte até você</p>
                <br>
                <br>     
                <p id="texto">Venha nos conhecer</p>
                <br>
                <p id="texto">Seja um Associado</p>
            </div>

            <div id="rodape">
                <h4>Rua Conselheiro Crispiniano, 53 - 13º andar - República</h4>
                <h4>Telefone: 11 3105-1660 / 3214-4711 / 98195-9148(whatsapp)</h4>
            </div>
        </div>    
    </body>
</html>
