{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>APBA</title>
        <link rel="stylesheet"  href="{% static 'css/blog_estilo.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    </head>
    <body>
        <div class="borda">
            <div id="logo">
                <p><img src="{% static 'img/logo.jpg' %}"></p>
            </div>
            
            <div class="cabecalho">
                
                <h1>A.P.B.A</h1>
                <p>Associação Paulista de Belas Artes</p>
            </div>
            
            <div id="menu">
                <table>
                    <tr>
                        <th><a href="{% url 'formulario' %}" target="_self" rel="next">Cadastro</a></th>
                    </tr>
            
                    <tr>
                        <th><a href="{% url 'curso' %}" target="_self" rel="next"> Cursos</a></th>
                    </tr>


                </table>
            </div>
            
            <div id="principal">
                
                <p class="texto">Desde 1942</p>
               
                <p class="texto">Levando a Arte até você</p>
                     
                <p class="texto">Venha nos conhecer</p>
                
                <p class="texto">Seja um Associado</p>
            </div>

            <div class="map-responsive">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.613080002265!2d-46.642434784609286!3d-23.54641486692657!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce58522e32f11f%3A0x7e5fa1e468dbad47!2sAPBA%20-%20Associa%C3%A7%C3%A3o%20Paulista%20Belas%20Artes!5e0!3m2!1spt-BR!2sbr!4v1652983551510!5m2!1spt-BR!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>

                <div class="footer">
                    <h2>Nossas redes sociais:</h2>
                    
                    <div class="sociais">
                        <div class="social">
                            <a href=" https://wa.me/5511981959148" target="_blank" rel="external"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                            </div>
                            
                            <div class="social">
                            <a href="https://pt-br.facebook.com/belasartesapba/"target="_blank" rel="external"> <i class="fa fa-facebook-official" aria-hidden="true"> </i>
                            </i>
                            </a>
                            </div>
                            </div>    



            </div>

            <div class="rodape">
                <h4>Rua Conselheiro Crispiniano, 53 - 13º andar - República</h4>
                <h4>Telefone: 11 3105-1660 / 3214-4711 / 98195-9148(whatsapp)</h4>
            </div>
               
  

        
        <script>
            var nome= window.prompt('Qual é o seu nome?')
            window.alert('Seja muito bem vindo ao site,'+ nome + '!')
            
        </script>
    </body>
</html>
