* {
    margin: 0;
    padding: 0;

}
#logo {
    height: 220px;
    width: 200px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.cabecalho {
    height: 220px;
    width: 700px;
    margin-left: 210px;
    margin-right:10px;
    margin-top: 10px;
 }

#menu {
    height: 300px;
    width: 200px;
    float: left;
    margin-left: 10px;
}

#principal {
    height: 500px;
    width: 700px;
    margin-left: 210px;
    margin-right: 10px;
}

.texto {
    font-family:'Times New Roman', Times, serif;
    font-size: 32px;
    text-align: center;
    color:black;
    vertical-align: middle;
    line-height: 2;
}

td {
    border: 1px solid rgb(51, 5, 5, 0.877);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.rodape{
    height: 50px;
    width: 900px;
    margin: 0 auto;
}

body {
    background-image: url(../img/figura11.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    }
   
img {
    opacity: 0.5;
            
    }

h1, p, th, #semana {
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        text-align: center;
        font-weight: bold;
                  
    }

h4 {
    color: black;
    text-align: center;

}

table {
    width:100%;
    height: 100%;
      }

.borda {
    height: 780px;
    width: 920px;
    margin: 0 auto;
    border: 5px;
    border-color:rgba(51, 5, 5, 0.877);
    border-radius: 10px;
    border-style: double;
    }


a:link, a:visited, a:active {
    text-decoration: none;
    }

a:visited {
    color: #1717f5
    }

a:active {
    color: #ffa500;
    }
a:hover{
    text-decoration: underline overline;
    color: #8b0000;
    background-color: #ffdab9;
    font-size: 24px;
    
    }

