@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-opcional: 'Bebas Neue', cursive;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    outline: 0;
}

html {
    font-size: 62,5%;
}

html, body {
    height: 100vh;
    font-family: var(--font-padrao);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    background-image: url(../img/figura11.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-size: 1.6rem;
}

div.borda {
    width: 82%;
    max-width: 980px;
    margin: 0 auto;
    border: 5px;
    border-color:rgba(51, 5, 5, 0.877);
    border-radius: 10px;
    border-style: double;
    padding-bottom: 5px;
}


.cabeçalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 980px;
    margin-top: 5px;
    margin-left: 5px;
    
}


.cabeçalho > h1 {
    font-family: var(--font-opcional);
    padding-top: 50px;
    font-weight: bold;
}

.cabeçalho >p {
    padding-bottom: 50px;
}


img {
    opacity: 0.5;
    margin-left: 5px;
    max-width: 100%;
    max-height: 100%;
    float: left;
    padding: 15px 5;
    
}
#titulo {
    display: inline-block;
    text-align: center;
    padding-left: 5px;
}

#btn-container {
    text-align: end;
    padding-right: 5px;
    padding-bottom: 5px;
    
}


.conteudo {
    width: 90%;
    max-width: 980px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
   
}


#menu {
    padding-top: 20px;
    text-align: center;
    line-height: 2.5;
    font-size: 1.5rem;
    }



#principal {
    color:black;
    font-size: 2rem;
    line-height: 4rem;
    font-weight: bold;
    text-align: center;
   
}

                        

a:link, a:visited, a:active {
    text-decoration: none;
    }

a:visited {
    color: #1717f5
    }

a:active {
    color: #ffa500;
    }
a:hover{
    text-decoration: underline overline;
    color: #8b0000;
    background-color: #ffdab9;
    font-size: 2rem;
    }

#map-responsive {
    overflow:visible;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
        
}

#map-responsive > iframe {
    height: 100%;
    width:80%;
    position:absolute;
}


.redes {
    align-items: center;

}

.redes h4{
    color: rgb(24, 22, 22);
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2em;
}

.social{
    background: #ddd;
    margin: 10px;
    padding-top: 5px;
}



.sociais{
    display: flex;
    justify-content: space-evenly;
}

.sociais .social{
    width: 5vw;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s linear; 
    }

.sociais .social a{

    color: rgb(12, 12, 12);
    font-size: 2rem;
    transition: color .3s linear;
}

.sociais .social:hover{

    background: #444;
}

.sociais .social:hover a{
color: #fff;

}

footer {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 10px;
    
}

/* CSS curso*/

#borda_curso {
    width: 82%;
    max-width: 980px;
    margin: auto;
    padding-top: 10px;
}

#curse {
    font-family: var(--font-opcional);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}


table {
    border-collapse: collapse;
    width: 90%;
    max-width: 980px;
    margin: auto;
    padding-top: 5px;
    background-color: #f3d3ae44;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    font-family: var(--font-padrao);
    font-size: 1.5rem;
}

/* media queries*/
@media (max-width: 768px) {
    html {
        font-size: 50%;
    }
   #map-responsive {
       height: 20vh;
   }
}


@media (max-width: 375px) {
    .conteudo {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

@media (max-width: 330px ) {
    #map-responsive {
        width: 80vw;
    }
    
}

