* {
    margin: 0;
    padding: 0;
}


#titulo {
    font-family: sans-serif;
    color: #380B61;
    margin-left: 20%;
}

p {
    font-family: sans-serif;
    font-size: 1em;
    color: black;
}

fieldset {
    border: 0;
}

body{
    background-color:#f0f8f0;
    font-family: sans-serif;
    font-size: 1em;
    color: #59429d;
    margin-left: 25%;
    margin-top: 2%;
    justify-content: center;

}

Input, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
    color: #59429d;
    border-radius: 5px;
}


.campo, .campos{
    margin-bottom: 1em;

}


.campo label {
    margin-bottom: 0.2em;
    color: #59429d;
    display: block;
}


fieldset.grupo .campo {
    float:  left;
    margin-right: 1em;

}

.campos input[type="text"] {
    padding: 0.2em;
    width: 20%;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display:inline;
}
.campo input[type="text"], .campo input[type="email"], .campo input[type="tel"] {
    padding: 0.2em;
    width: 70%;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

#endereco, #conjuge {
    margin-right: 15em;
}

#numero {
    margin-left: -2em;
}

#bairro, #prof{
    margin-right: 10em;
}

#rg, #cpf, #grau{
    margin-right: 6em;
}


#email {
    margin-right: 4em;
    margin-left: -1.5em;
}

.botao {
    font-size: 1.2em;
    background: #59429d;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position:sticky;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.botao:hover {
    background: #CCBBFF;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.botao {
    cursor: pointer;
}