@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-opcional: 'Bebas Neue', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    
}
html, body {
    min-height: 100vh;
    font-family: var(--font-padrao);
}

body {
    background-image: url("../img/figura11.b0207c8fcc73.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

div.borda {
    width: 82%;
    height: 100%;
    margin: 0 auto;
    border: 5px;
    border-color:rgba(51, 5, 5, 0.877);
    border-radius: 10px;
    border-style: double;
    
}
header {
    text-align: center;
    padding-top: 20px;
    margin: auto;
}   

header > h1 {
    font-family: var(--font-opcional);
    font-size: 5vw;
    padding-top: 50px;
    font-weight: bold;
}

header >p {
    padding-bottom: 50px;
}


img {
    opacity: 0.5;
    float: left;
    margin-left: 20px;
    max-width: 100%;
    max-height: 100%;
    
}

#btn-container {
    text-align: end;
    padding-right: 5px;
    padding-bottom: 5px;
    
}

button {
    font-size: 1.5vw;
}

#menu {
    float: left;
    margin-top: 10px;
    width: 30%;
    line-height: 3.5;
    font-size: 2vw;
    text-align: center;
    }

main {
    padding: 20px;
    border-radius: 10px;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;  
}

#principal {
    color:black;
    line-height: 2;
    font-size: 2.5vw;
    display: block;
    margin-left: 30%;
}

#principal > p {
    text-align: center;
    font-weight: bold;
}

                        

a:link, a:visited, a:active {
    text-decoration: none;
    }

a:visited {
    color: #1717f5
    }

a:active {
    color: #ffa500;
    }
a:hover{
    text-decoration: underline overline;
    color: #8b0000;
    background-color: #ffdab9;
    font-size: 2.5vw;
    }

#map-responsive {
    overflow:visible;
    position: relative;
    height: 30vh;
    display: flex;
    align-items: center;
    
    
}

#map-responsive > iframe {
    height: 80%;
    width:80%;
    position:absolute;
    padding-left: 20px;
}


.redes {
    width: 30%;
    height:30vh;
    float: left;
    align-items: center;
    padding-top: 20px;
    
}

.social{
    background: #ddd;
    margin: 10px;
}

.redes h2{
    color: rgb(24, 22, 22);
    font-size: 2vw;
    text-align: center;
    margin-top: 2em;
}

.redes .sociais{
    display: flex;
    justify-content: space-evenly;
}

.sociais .social{
    width: 5vw;
    height: 5vh;
    text-align: center;
    line-height: 2;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s linear; /*troquei background por all*/
    }

.sociais .social a{

    color: rgb(12, 12, 12);
    font-size: 1.5em;
    transition: color .3s linear;
}

.sociais .social:hover{

    background: #444;
}

.sociais .social:hover a{
color: #fff;

}

footer {
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
    margin-bottom: 10px;
}

/* CSS curso*/



table {
    border-collapse: collapse;
    width: 60vw;
    margin: auto;
    padding: 5px;
    background-color: #f3d3ae44;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    font-family: var(--font-padrao);
}
