@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-opcional: 'Bebas Neue', cursive;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;
    font-family: var(--font-padrao);
    font-size: 2em;
}

h1 {
    font-family: var(--font-opcional);
    color: #592A0E;
    text-align: center;
    font-size: 3.5vw;
    font-weight: bold;
}


body{
    background-color:#f5e4c4;
    font-size: 1em;
    color: #592A0E;
    margin-top: 2%;
    justify-content: center;

}

.borda {
    width: 75%;
    margin: auto;
    border: 5px;
    border-color:rgba(51, 5, 5, 0.877);
    border-radius: 10px;
    border-style: double;
}

header {
    padding-top: 10px;
    margin: auto;
}

button {
    font-size: 1.5vw;
}

#btn-container {
    text-align: end;
    padding-right: 5px;
    padding-bottom: 5px;;
}

a {
    padding-left: 10px;
}

a:link, a:visited, a:active {
    text-decoration: none;
    }

a:visited {
    color: #1717f5
    }

a:active {
    color: #ffa500;
    }
a:hover{
    text-decoration: underline overline;
    color: #8b0000;
    background-color: #ffdab9;
    font-size: 24px;
    }


.botao {
    font-size: 1.2em;
    background: #592A0E;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position:sticky;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    cursor: pointer;
}

.botao:hover {
    background: #A66D3C;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

div {
    margin: 20px;
}

.id-nome, .id-email, .id-nassoc, .mask-cel, .mask-fone {
    height: 5%;
    width: 50%;
}


label {
    padding-left: 5px;
}

.form-group{
    padding-left: 5px;
}









